.show-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tile__headline {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tile__text__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 145.5px;
}

small {
    margin-top: auto;
}