.show__cast__container {
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: center;
    overflow-x: auto;
    height: 250px;
    width: 100%;

}

.show__cast {
    margin: 10px;
}

.cast__person__name {
    text-align: center;
}

.show__cast img {
    border-radius: 20%;
    border: 5px solid gray;
    height: 200px;
}